@font-face {
	font-family: wotfard-regular;
	src: url("/assets/fonts/wotfard-regular-webfont.woff2") format("woff2-variations");
	font-weight: 200 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: wotfard-regularitalic;
	src: url("/assets/fonts/wotfard-regularitalic-webfont.woff2") format("woff2-variations");
	font-weight: 200 900;
	font-style: normal;
	font-display: swap;
}
