/* ----------------------------------------------------------------------------
custom fonts
---------------------------------------------------------------------------- */

@font-face {
	font-family: 'wotfard-regular-webfont';
	src: url('/assets/fonts/wotfard-regular-webfont.woff2') format("woff2-variations");
	font-weight: 200 800;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'wotfard-thinitalic-webfont';
	src: url('/assets/fonts/wotfard-thinitalic-webfont.woff2') format("woff2-variations");
	font-weight: 200 800;
	font-style: normal;
	font-display: swap;
}
